QMainWindow {
    background-color: white;
}

QWidget#inner-widget {
    background-color: white;
}

QPushButton#panel-button {
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    border-width: 1px;
}

QPushButton#panel-button:hover {
    border-width: 2px;
}

QLabel#panel-title {
    font-size: 35px;
}

QLabel#title {
    font-size: 60px;
    padding: 10px;
    background-color: white;
}